.root {
	:global {
		.selected {
			a {
				color: #fff;
				font-weight: 600;
				background-color: #fe5f1e;
			}
		}
	}
	display: flex;
	align-items: center;
	gap: 5px;

	li {
		display: inline-block;
		a {
			color: #fe5f1e;
			width: 40px;
			height: 40px;
			display: flex;
			justify-content: center;
			align-items: center;
			border: 1px solid #fe5f1e;
			border-radius: 30px;
			font-weight: 600;
			transition: 0.1s;
			cursor: pointer;
			&:hover {
				border: 2px solid #fe5f1e;
			}
		}
	}
}
